h1 {
    font-family: 'ka1', cursive;
    font-size: 5em;
}

p {
    font-family: 'ka1';
    font-size: 1.2em;
}

.card p::before {
    /* left: -20px; */
    position: absolute; 
    top: -40px;
    left: -145px;
    content: url(leftwing.gif); 
}

.card p::after {
    /* right: -20px; */
    position: absolute; 
    top: -40px;
    right: -145px;
    content: url(rightwing.gif); 
}

.flying {
    color: black;
    position: absolute;
    box-sizing:  border-box;
    top: 232px;
    left: 8px;
    transition-property: top, left;
    transition-timing-function: ease;
}

a:hover {
    cursor: url(hand.cur),auto;
}

@font-face {
    font-family: ka1;
    src: url(ka1.ttf);
}

html {
    cursor:url(mario.cur),auto;
    background: linear-gradient(to left, #33ccff 0%, #9966ff 100%);
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
}

.card_section { 
/* width: 100%;  */
float: left; 
border-left: 10px solid;
border-right: 10px solid;
position: relative; 
-webkit-box-sizing: border-box; 
-moz-box-sizing: border-box; 
box-sizing: border-box;
background-color: rgba(255, 255, 255, 0.904);
}

.card_section .card { 
/* display: block; */
/* color: #FF6600; */
padding: 40px; 
margin: -10px 0; 
border-top: 10px solid; 
border-bottom: 10px solid; 
}

.card_section::before, 
.card_section::after,
.card_section .card::before, 
.card_section .card::after { 
content: ''; 
width: 10px; 
height: 10px; 
/* display: block;  */
position: absolute;   
background: black; 
}
.card_section::before { top: -5px; left: -5px; }
.card_section::after { top: -5px; right: -5px; }
.card_section .card::before { bottom: -5px; left: -5px; }
.card_section .card::after { bottom: -5px; right: -5px; }

@media only screen and (max-width: 600px) {
    .flying {
        position: static;
    }
  }